/* Used to visualize objects
* {
	border-style: dotted;
}


* {
	margin: 0;
	padding: 0;
}*/

/*Global stuff */
.container {
    width:90%;
    margin: auto;
    overflow: hidden;
}

html, .wrapper {
	height: 100%;
}
body, html, .wrapper {
/*	background-color: #948E8D; */
	margin: 0;
	padding: 0;
    color : white;
}

body {
	min-height: 100%;
    background-image: url("images/flatearth.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    position: relative;
    font-size: 16px;
}

h3 {
    color: teal;
}

li {
    list-style-type: none;
    margin-right: 40px;
}

.side {
  grid-area: sidebar;
  background: white;
}
.ad {
  grid-area: ad;
  background: red;
}
.main-footer {
  grid-area: footer;
  border-style: solid;
  border-width: 1px;
  padding: 3px;
  margin: 5px;
  font-size: 8pt;
}
a {
    text-decoration: none;
}

/* Set up the navigation bar */

.topnav {
  overflow: hidden;
  background-color: #333;
  font-family: arial;
  position: fixed;
  width: 100%; 
  padding-right: 20%;
}


.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: teal;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Set up the top block of the page */
.masterhead {
 /*   border-width: 1px;
    border-color: white;
    border-style: solid; */
    margin: 30px;
    margin-top: 70px;
    margin-bottom: 70px;

}
.titleHeader {
/*    background-color: #948E8D; */
    font-size: 40pt;
    color: teal;
}
.titleWords {
    font-size: 15pt;
    color: white;
    text-align: right;
}
.titleBlurb {
    font-size: 15pt;
    color: white;
    width: 100%;

}

/* Set up main body block */
div.transbox {
    margin-left: 30px;
    margin-right: 30px;
    background: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity  148, 142, 141 
    background: rgba(64, 64, 64, 0.6);   */ 
    background: rgba(64, 64, 64, 0.6);    
    padding: 2px;
    margin-bottom: 80px;

}
.bodycontent {
    margin-left: 10px;
    font-size: 20px;
    
}

#subheader {
    padding-top: 10px;
    color: teal;
}

/*header*/

#heading{
    background: rgba(64, 64, 64, 0.6);  
    margin-top: 80px;
}

#branding {
    float: left;
    background: teal; 
    margin-top: 10px;
    margin-bottom: 10px;
}
#branding h1 {
    margin: 0;
    background: red;
}


/*show case */

#showcase {
    min-height: 400px;
    text-align: center;
    color: white;
/*    border: 3px solid white; 
    margin-bottom: 10px; */
}

#showcase h1 {
    margin-top: 50px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}


/*Newsletter*/

#newsletter {
    padding: 15px;
    color: white;
    background: rgba(64, 64, 64, 0.6);  
}

#newsletter h1 {
    float: left;
}
   
#newsletter form input[type="email"] {
     width: 100%;
     margin-bottom: 5px;
}

/*Boxes */
#boxes {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.6);      
    margin-bottom: 80px;
}

#boxes .box {
    float: none;
    width: 100%;
    text-align: center;
    color: black;
    padding-top: 8px;
}

#boxes .box img {
    width: 90px;
    height: 90px;
}

footer {
    padding: 2px;
    margin-top: 20px;
    color: white;
    background-color: teal;
    text-align: center;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2px;
  background-color:  teal;
  text-align: center;
}

/* home css */ 

.feed {
  grid-area: feed;
}
.tweet {
    
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50px auto;
    grid-template-rows: 20px auto;
    grid-template-areas:
        "userpic username"
        "userpic tweet_text";
}

.userpic {
    grid-area: userpic;
}
.username {
    grid-area: username;
    text-decoration: none;
    font-weight: bold;
}
.username a:link, .username a:visited {
    color: lightcyan;
}
.username a:hover, .username a:active {
    color: teal;
}

.tweet_text {
    grid-area: tweet_text;
    font-size: 12pt;
    color: white;
}

/* News css */

.submitBack {
    font-family: arial;
    font-size: 14px;
    margin-top: 100px;
}
.submitText {
    color:#f2f2f2;
}
.button {
  display: inline-block;
  background-color: transparent;
  border: 2px solid teal; 
  border-top: 3px solid teal;
  border-bottom: 3px solid teal;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  font-family: arial;
  font-weight: bold;
  width: 100px;
  cursor: pointer;
  float: right;

}
.button:hover {
	color: teal;
}
#submitButton {
    padding: 10px;
    margin: 4px;
}

#subscribeButton {
    height: 14px;  
    padding: 8px;
    margin-left: 8px;
}

.article {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 50px auto;
    grid-template-rows: auto 10px;
    grid-template-areas:
        "articleimage articletitle"
        "articleimage articlestats";
}
.articleimage {
    grid-area: articleimage;
}
.articletitle {
    grid-area: articletitle;
    text-decoration: none;
    font-weight: bold;
    padding-top: 10px;
}
.articletitle a:link, .articletitle a:visited {
    margin: 10px;
    color: white;
}
.articletitle a:hover, .articletitle a:active {
    color: teal;
}
#articlelist {
    font-family: arial;
}
/*
.articleimage {
    height: 50px;
    width: 50px;
}
*/

/* media css */

#cssTable {
    display: table;
/*    border: 1px dotted rgb(217,237,249);
    background-color: red; */
    width: 80%;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    padding-bottom: 30px;
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
        
}
#cssTable a:link, #cssTable a:visited {
    margin: 10px;
    color: white;
}
#cssTable a:hover, #cssTable a:active {
    color: teal;
}

.cssTableRight {
    display: table-cell; 
    vertical-align: top; 
    text-align: left; 
    padding: 10px;
    padding-top: 50px;
    width: 100%;
}

.cssTableLeft {
    display: table-cell; 
    vertical-align: top; 
    text-align: left; 
    width: 100%; 
    padding: 10px;
}

/* Mobile */
.wrapper {
  display: grid;
  grid-column-gap: 15px;
  grid-template-areas: 
    "header"
    "nav"
    "feed"
    "sidebar"
    "ad"
    "footer";
}

/* Tablet/Desktop */
@media (min-width: 500px) {
  	.wrapper {
    	grid-template-columns: 1fr 3fr;
    	grid-template-areas: 
      		"header  header"
      		"nav     nav"
      		"sidebar feed"
      		"ad      ad"
            "footer footer";
      	
  }   
    .side {
  		border-style: dotted;
  		border-width: 0px 1px 0px 0px;
  		text-align: center;
	}
    .feed {
        padding-right: 20px;
    }
    .titleBlurb {
        width: 55%;
        font-size: 20pt;
    }
    .titleHeader {
        font-size: 50pt;
    }
    .titleWords {
        font-size: 20pt;
    }
    .submitBack {
        margin-top: 10%; 
    }
    .cssTableRight {
        width: 80%;
    }

    .cssTableLeft {
        width: 20%; 
    }  

    div.transbox {
    margin-bottom: 50px;

    }
    
     #heading{
        margin-top: 10px;
    }  
    
    #boxes {
        margin-top: 20px;
        background: rgba(255, 255, 255, 0.6);  
        margin-bottom: 50px;
    }

    #boxes .box {
        float: left;
        text-align: center;
        width: 30%;
        padding: 10px; 
        color: black;

    }

    #boxes .box img {
        width: 90px;
        height: 90px;
    }   

    #newsletter form {
        float: right;
        margin-top: 15px;
        display: flex;
        width: 400px;
    }

    #newsletter input[type="email"] {
        padding: 4px;
        height: 25px;
        width: 250px;
    }   
    
}

/* Widescreen */
@media (min-width: 750px) {
  	.wrapper {
    	grid-template-columns: 1fr 4fr 1fr;
    	grid-template-rows: 50px 3fr 2fr 30px;
    	grid-template-areas: 
      		"header header  header"
      		"nav    feed sidebar"
      		"nav    feed ad"
      		"footer footer  footer"
   	}
   	.side {
  		border-style: dotted;
  		border-width: 0px 0px 0px 1px;
  		text-align: center;
	}
}

/* Colorbox CSS */
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden; -webkit-transform: translate3d(0,0,0);}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0;}
    #cboxTopLeft{width:14px; height:14px; background:url(images/controls.png) no-repeat 0 0;}
    #cboxTopCenter{height:14px; background:url(images/border.png) repeat-x top left;}
    #cboxTopRight{width:14px; height:14px; background:url(images/controls.png) no-repeat -36px 0;}
    #cboxBottomLeft{width:14px; height:43px; background:url(images/controls.png) no-repeat 0 -32px;}
    #cboxBottomCenter{height:43px; background:url(images/border.png) repeat-x bottom left;}
    #cboxBottomRight{width:14px; height:43px; background:url(images/controls.png) no-repeat -36px -32px;}
    #cboxMiddleLeft{width:14px; background:url(images/controls.png) repeat-y -175px 0;}
    #cboxMiddleRight{width:14px; background:url(images/controls.png) repeat-y -211px 0;}
    #cboxContent{background:#fff; overflow:visible;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:5px;}
        #cboxLoadingOverlay{background:url(images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
        #cboxTitle{position:absolute; bottom:-25px; left:0; text-align:center; width:100%; font-weight:bold; color:#7C7C7C;}
        #cboxCurrent{position:absolute; bottom:-25px; left:58px; font-weight:bold; color:#7C7C7C;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible;  position:absolute; bottom:-29px; background:url(images/controls.png) no-repeat 0px 0px; width:23px; height:23px; text-indent:-9999px;}
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxPrevious{left:0px; background-position: -51px -25px;}
        #cboxPrevious:hover{background-position:-51px 0px;}
        #cboxNext{left:27px; background-position:-75px -25px;}
        #cboxNext:hover{background-position:-75px 0px;}
        #cboxClose{right:0; background-position:-100px -25px;}
        #cboxClose:hover{background-position:-100px 0px;}

        .cboxSlideshow_on #cboxSlideshow{background-position:-125px 0px; right:27px;}
        .cboxSlideshow_on #cboxSlideshow:hover{background-position:-150px 0px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-150px -25px; right:27px;}
        .cboxSlideshow_off #cboxSlideshow:hover{background-position:-125px 0px;}