{% extends 'base.html' %}
{% block feed%}

	   <header id="heading">
        <div class="container">
           <div>
               <h1>Blog</h1>
            </div>
        </div>    
        </header>

        <section id="showcase">
            <div class="container">
            <h1 class="titleHeader">Blog About It</h1>
                <p>Read the latest from our flat earth contributors. It's really riviting stuff. Read what some of the greatest minds have to say.</p>
                <p class="titleWords">Have your own great post you would like to share?<br><a  href={{url_for('submit_post')}} class="button button1">SUBMIT ></a></p>
            </div>      
        </section>

<div class="transbox">
<br>
<ul>
	{% for post,user in posts_users %}
	<li id="postlist">
		<div class='post'>
      <div class='posttitle'><a href={{url_for('blog_post',post_id=post.id)}}>{{post.title}}</a></div>
      {% if user is not none %}
      <div class='postauthor'>{{user.username}}</div>
      {% else %}
      <div class='postauthor'>Anonymous</div>
      {% endif %}
      <div class='poststats'></div>
		</div>
	</li>
	<br>
	{%endfor%}
</ul>

</div>
{% endblock%}
