{% extends 'base.html' %}
{% block feed%}

	   <header id="heading">
        <div class="container">
           <div>
               <h1>Contact Us</h1>
            </div>
        </div>    
        </header>

        <section id="showcase">
            <div class="container">
            <h1 class="titleHeader" style="margin-top: 150px">We need friends. Be our friend.</h1>
            </div>      
        </section>

<div class="transbox">
<h2 class="bodycontent" id="subheader">Contact Information</h2>
    <p class="bodycontent">Email: RoundEarthShills@gmail.com</p>
    <p class="bodycontent">Twitter: @RNDEARTHSHILLS</p>
    <p class="bodycontent">Frank's Office Phone:</p>


        
        
        
    
    
</div>
{% endblock%}