{% extends 'base.html' %}
{% block feed%}
	   <header id="heading">
        <div class="container">
           <div>
               <h1>The Shill Feed</h1>
            </div>
        </div>    
        </header>

        <section id="showcase">
            <div class="container">
            <h1 class="titleHeader">Behold! The Shill Feed</h1>
                <p>We have gathered all the truthers on this flat planet in one place. See what they are saying. This whole "round earth" theory is a little too easy, don't you all think? We just don't buy it. The real question is "Who started this 'Round Earth' theory and why?" What is this obsessive need people have to make everyone agree with them that the earth is "round"? A flat earth is a very real possibility. Don't forget follow us on twitter @RNDEARTHSHILLS !!!</p>
                <br>
                 <p  class="titleWords">
                     We're not saying the earth is <span style="font-style: italic"> DEFINITELY </span> flat... <br> but it might be.             
                </p> 
            </div>      
        </section>

<div class="transbox">
<ul>
	{% for tweet in tweets %}
	<li>
		<div class='tweet'>
			<div class='userpic'><img src="{{tweet['user']['profile_image_url']}}" alt="Profile Image"></div>
            <div class='username'><a href="https://twitter.com/{{tweet['user']['screen_name']}}">@{{tweet['user']['screen_name']}}</a></div>
			<div class='tweet_text'>{{tweet['full_text']}}</div>
		</div>
	</li>
	<br>
	{%endfor%}
</ul>
</div>
{% endblock%}
