{% extends 'base.html' %}
{% block feed%}

    <body>	
	   <header id="heading">
        <div class="container">
           <div>
               <h1>Round Earth Shills</h1>
            </div>
        </div>
        
        </header>
        
        <section id="showcase">
            <div class="container">
            <h1 class="titleHeader">Welcome Fellow Flat Earthers!</h1>
            <p>Lets be real... the earth might be flat. Has anyone <span style="font-style: italic">REALLY</span> been to space? I haven't. Have you? Is space even real? Who's to say the Earth is so called "round"? Here on Round Earth Shills we uncover the truth about the Earth... amongst other things. Get ready to have your eyes opened.. to <span style="font-style: italic"> see the truth,</span> and to piss someone off. This is a judgement-filled zone. Feel free to express whatever thoughts you might have because we will vigorously criticize you for it. </p>
            <p style="float: right">- Your friendly neighborhood totem pole</p>
            </div>      
        </section>
        
        <section id="newsletter">
            <div class="container">
            <h1>Subscribe to our newsletter</h1>
            <form>
                <input type="email" placeholder="Enter Email..."><a  href="" class="button" id="subscribeButton">Subscribe</a>
            </form>
                
            </div>
        </section>
        
        <section id="boxes">
            <div class="container">
                <div>
                <div class="box">
                    <img src="../static/images/headqm.png">
                    <h3>Shill of the Week</h3>
                    <p>Every week we feature a new Shill. Someone who has been extra shilling amongst all shilliest of shills.</p>                 
                </div>                
                <div class="box">
                    <img src="../static/images/twitter.png">
                    <h3>Shill Feed</h3>
                    <p>See what everyone is saying about flat earth. Always the number one trending topic... because always means sometimes.</p>                 
                </div>                
                <div class="box">
                    <img src="../static/images/earth.png">
                    <h3>About Us</h3>
                    <p>Get to know other crazy people just like yourself. You can be weird with us... just at a distance.</p>                 
                </div>
                </div>
            </div>
        </section>

   </body>

{% endblock%}