{% extends 'base.html' %}
{% block feed%}

	   <header id="heading">
        <div class="container">
           <div>
               <h1>Learn OCL</h1>
            </div>
        </div>    
        </header>

        <section id="showcase">
            <div class="container">
            <h1 class="titleHeader">The Object Constraint Language</h1>
                <p>Your one and only source for Object Constraint Language... in the ENTIRETY of the internet. Have you ever wonder what you can do to get an edge on getting a job? Don't you want to be good enough to work for Google or Apple? You saw it here first folks! The only place to learn the technical languge of the future. </p>
            </div>      
        </section>

<div class="transbox">
    <br>
    <p class="bodycontent"> Just kidding.. it's garbage.. don't learn it. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
{% endblock%}