{% extends 'base.html' %}
{% block feed%}
<header id="heading">
<div class="container">
   <div>
       <h1>Media</h1>
    </div>
</div>    
</header>

<section id="showcase">
    <div class="container">
    <h1 class="titleHeader">In Case You Needed More Proof</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    </div>      
        </section>

<div class="transbox">
    <br>
    <h2 class="bodycontent" style="color: teal"> Well this is just damning evidence... i'll work on fixing this page later</h2>
    
<div id="cssTable" >
    <div style="display: table-row">  
  <!--      <div class="cssTableRight">
            <p><a class='youtube' href="https://www.youtube.com/embed/YJ4qZoUJ3C0?rel=0&amp;wmode=transparent">Top 5 Reasons Why the Earth is Flat</a></p>           
            <p>Top 5 Reasons Why the Earth is Flat</p>    
        </div> -->  
        <div class="cssTableLeft">
            <p>Top 5 Reasons Why the Earth is Flat</p>  
            <a class='youtube' href="https://www.youtube.com/embed/YJ4qZoUJ3C0?rel=0&amp;wmode=transparent"><img src="{{url_for('static',filename='images/video1.jpg')}}" alt="video1"></a>     
        </div>
    </div>
    <div style="display: table-row">      
 <!--    <div class="cssTableLeft">
       <p><a class='youtube' href="https://www.youtube.com/embed/iWZMhpfNQzY?rel=0&amp;wmode=transparent">15 More Facts that Prove Our Earth is Flat</a></p>     
        <p>15 More Facts that Prove Our Earth is Flat</p>
    </div>    -->  
     <div class="cssTableLeft">
         <p>15 More Facts that Prove Our Earth is Flat</p>
        <a class='youtube' href="https://www.youtube.com/embed/iWZMhpfNQzY?rel=0&amp;wmode=transparent"><img src="{{url_for('static',filename='images/video2.jpg')}}" alt="video2"></a>     
    </div>
    </div>
    
</div> 
    
    
</div>

<script>
    $(document).ready(function(){
        $(".youtube").colorbox({iframe:true, innerWidth:640, innerHeight:390});
    });
</script>
{% endblock%}