{% extends 'base.html' %}
{% block feed%}
	   <header id="heading">
        <div class="container">
           <div>
               <h1>The Good Word</h1>
            </div>
        </div>    
        </header>

        <section id="showcase">
            <div class="container">
            <h1 class="titleHeader">Read All About It</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <br>
                <p class="titleWords">Have your own great article you would like to share?<br><a  href={{url_for('submit_article')}} class="button" id="submitButton">SUBMIT ></a></p>
            </div>      
        </section>

<div class="transbox">
<br>
<ul>
	{% for article in articles %}
	<li id="articlelist">
		<div class='article'>
      <div class='articleimage'><a href={{article.url}}><img src={{article.thumbnail}} height='50' width='50'></a></div>
      <div class='articletitle'><a href={{article.url}}>{{article.title}}</a></div>
      <div class='articlestats'></div>
		</div>
	</li>
	<br>
	{%endfor%}
</ul>

</div>
{% endblock%}
