{% extends 'base.html' %}
{% block feed%}
<div class="masterhead">
    <h1 class="titleHeader">{{post.title}}</h1>
        <p  class="titleWords">{{user.username}}</p>
    
</div>
<div class="transbox submitBack">
    <br>
    <p class="bodycontent">{{formatted_body|safe}}</p>
</div>
{% endblock%}