{% extends 'base.html' %}
{% block feed %}
<div class="transbox submitBack" >
<h1 class="submitText">Submit Your Post</h1>

<form action='' method='post'>
    {{ form.hidden_tag() }}
    <p class="submitText">
        {{ form.title.label }}<br>
        {{ form.title(size=64) }}
        {% for error in form.title.errors %}
        <br><span class='form-error'>{{error}}</span>
        {% endfor %}
    </p>
    <p class="submitText">
        {{ form.body.label }}<br>
        {{ form.body(cols=64,rows=30) }}
        {% for error in form.body.errors %}
        <br><span class='form-error'>{{error}}</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
    <br>
</form>

</div>
{%endblock%}