{% extends 'base.html' %}
{% block feed %}
<div class="transbox submitBack" >
<h1 class="submitText">Submit Your Article</h1>

<form style="text-align: center" action='' method='post'>
    {{ form.hidden_tag() }}
    <p class="submitText">
        {{ form.title.label }}<br>
        {{ form.title(size=32) }}
        {% for error in form.title.errors %}
        <br><span class='form-error'>{{error}}</span>
        {% endfor %}
    </p>
    <p class="submitText">
        {{ form.url.label }}<br>
        {{ form.url(size=32) }}
        {% for error in form.url.errors %}
        <br><span class='form-error'>{{error}}</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
    <br>
</form>

</div>
{%endblock%}